<?xml version="1.0"?>
<config>
	<modules>
		<Balloz_DeveloperToolbar>
			<version>0.1.0</version>
		</Balloz_DeveloperToolbar>
	</modules>
	<global>
		<events>
			<controller_front_init_before>
				<observers>
					<developertoolbar>
						<class>Balloz_DeveloperToolbar_Model_Observer</class>
						<method>enableProfiling</method>
					</developertoolbar>
				</observers>
			</controller_front_init_before>
		</events>
		<blocks>
			<developertoolbar>
				<class>Balloz_DeveloperToolbar_Block</class>
			</developertoolbar>
		</blocks>
		<models>
			<developertoolbar>
				<class>Balloz_DeveloperToolbar_Model</class>
			</developertoolbar>
		</models>
	</global>
	<frontend>
        <layout>
            <updates>
                <developer_toolbar>
                    <file>balloz_developertoolbar.xml</file>
                </developer_toolbar>
            </updates>
        </layout>
    </frontend>
</config>
