<?xml version="1.0"?>
<config>
	<modules>
		<Balloz_DeveloperToolbar>
			<version>0.1.0</version>
		</Balloz_DeveloperToolbar>
	</modules>
	<global>
		<events>
			<controller_front_init_before>
				<observers>
					<developertoolbar>
						<class>Balloz_DeveloperToolbar_Model_Observer</class>
						<method>enableProfiling</method>
					</developertoolbar>
				</observers>
			</controller_front_init_before>
			
			<core_block_abstract_to_html_after>
				<observers>
					<wrapblocks>
						<type>singleton</type>
						<class>Balloz_DeveloperToolbar_Model_BlockObserver</class>
						<method>wrapBlocks</method>
					</wrapblocks>
				</observers>
			</core_block_abstract_to_html_after>
			
        </events>
        <helpers>
            <developertoolbar>
                <class>Balloz_DeveloperToolbar_Helper</class>
            </developertoolbar>
        </helpers>
		<blocks>
			<developertoolbar>
				<class>Balloz_DeveloperToolbar_Block</class>
			</developertoolbar>
		</blocks>
		<models>
			<developertoolbar>
				<class>Balloz_DeveloperToolbar_Model</class>
			</developertoolbar>
		</models>
	</global>
	<frontend>
        <layout>
            <updates>
                <developertoolbar>
                    <file>balloz_developertoolbar.xml</file>
                </developertoolbar>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <developertoolbar>
                    <file>balloz_developertoolbar.xml</file>
                </developertoolbar>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <developertoolbar translate="title" module="developertoolbar">
                                            <title>Developer toolbar</title>
                                        </developertoolbar>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <developertoolbar>
            <ips />
        </developertoolbar>
    </default>
</config>
