.balloz-toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font: 11px Arial, sans-serif;
    text-align: left;
    color: #2f2f2f;
    background-color: #e4e4e4;
    border-top: 1px solid #bbb;
    height: 30px;
    padding: 0;
	z-index: 999999;
}
.balloz-toolbar .balloz-toolbar-panels-container {
    padding: 0 20px;
}
.balloz-toolbar .balloz-toolbar-panel {
    float: left;
}
.balloz-toolbar .balloz-toolbar-panel-label a {
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    padding: 4px 8px;
    line-height: 18px;
    text-decoration: none;
    color: #666;
    margin-right: -1px;
}
.balloz-toolbar .balloz-toolbar-panel-label .active {
    background-color: #dedede;
    color: black;
}
.balloz-toolbar .balloz-toolbar-panel-label a:hover {
    text-decoration: none;
    color: #999;
}
.balloz-toolbar .balloz-toolbar-panel-content {
    position: absolute;
    display: none;
    z-index: 100;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    overflow: auto;
    padding: 10px;
    max-width: 767px;
}

/* === Minimize buttons === */
.balloz-toolbar .balloz-toolbar-min {
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 30px;
    position: absolute;
}
.balloz-toolbar .balloz-toolbar-min-left:before,
.balloz-toolbar .balloz-toolbar-min-right:before {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 9px;
    left: 7px;
}

.balloz-toolbar .balloz-toolbar-min-left:before,
.balloz-toolbar.balloz-toolbar-hidden-right .balloz-toolbar-min-right:before {
    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-right: 6px solid darkgrey;
    border-left: none;
}
.balloz-toolbar .balloz-toolbar-min-right:before,
.balloz-toolbar.balloz-toolbar-hidden-left .balloz-toolbar-min-left:before {
    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-right: none;
    border-left: 6px solid darkgrey;
}

.balloz-toolbar.balloz-toolbar-hidden-right {
    left: auto;
    width: 20px;
    overflow: hidden;
    border-left: 1px solid #bbb;
}
.balloz-toolbar.balloz-toolbar-hidden-left {
    right: auto;
    width: 20px;
    overflow: hidden;
    border-right: 1px solid #bbb;
}
.balloz-toolbar .balloz-toolbar-min-left {
    left: 0;
}
.balloz-toolbar .balloz-toolbar-min-right {
    right: 0;
}

/* === Info panel === */
.balloz-toolbar .balloz-toolbar-panel-content-info {
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: #000;
    color: #fff;
}
.balloz-toolbar .balloz-toolbar-panel-content-info .info-list dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0;
    padding-right: 5px;
}
.balloz-toolbar .balloz-toolbar-panel-content-info .info-list dd {
    float: left;
    margin: 0;
}

/* === Blocks panel === */
.balloz-toolbar .balloz-toolbar-panel-content-blocks {
    background-color: #000;
    height: 500px;
    overflow: auto;
    color: darkgrey;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks a{
    text-decoration:none;
    cursor:default;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks a.enabled{
    border-bottom:1px solid #ff5400;
    cursor:pointer;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks a.enabled:hover{
    border-bottom:1px dotted white;
    color:yellow;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks .limegreen a {
    color: limegreen;
}
.balloz-toolbar .balloz-toolbar-panel-content-blocks .white a{
    color: white;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks a.active{
    color:yellow;
}

.balloz-toolbar .balloz-toolbar-panel-content-blocks .time {
    color: #00ffff;
}

/* === Block performance panel === */
.balloz-toolbar .balloz-toolbar-panel-content-block-performance {
    background-color: #000;
    height: 500px;
    overflow: auto;
    color: darkgrey;
}
.balloz-toolbar .balloz-toolbar-panel-content-block-performance .limegreen {
    color: limegreen;
}
.balloz-toolbar .balloz-toolbar-panel-content-block-performance .white {
    color: white;
}

/* === Timer interval related styling === */
.balloz-toolbar .notify-green {
    color: #00ff00;
}
.balloz-toolbar .notify-yellow {
    color: #ffff00;
}
.balloz-toolbar .notify-red {
    color: #ff0000;
}

/* === Timers panel === */
.balloz-toolbar .balloz-toolbar-panel-content-timers {
    background-color: #000;
    height: 500px;
    overflow: auto;
    color: darkgrey;
}
.balloz-toolbar .balloz-toolbar-panel-content-timers .timers th,
.balloz-toolbar .balloz-toolbar-panel-content-timers .timers td {
    padding: 0 5px;
}
.balloz-toolbar .balloz-toolbar-panel-content-timers .timers th {
    color: white;
}

/* === Queries panel === */
.balloz-toolbar .balloz-toolbar-panel-content-queries {
    background-color: #000;
    height: 500px;
    overflow: auto;
    color: darkgrey;
}
.balloz-toolbar .balloz-toolbar-panel-content-queries h1 {
    color: white;
    font-size: 14px;
    margin-top: 15px;
}
.balloz-toolbar .balloz-toolbar-panel-content-queries .queries {
    border-collapse: collapse;
}
.balloz-toolbar .balloz-toolbar-panel-content-queries .queries th,
.balloz-toolbar .balloz-toolbar-panel-content-queries .queries td {
    padding: 0 5px;
}
.balloz-toolbar .balloz-toolbar-panel-content-queries .queries th {
    color: white;
}
.balloz-toolbar .balloz-toolbar-panel-content-queries .queries td {
    border-bottom: 1px solid #333;
    padding: 3px 0;
}

/* === Handles panel === */
.balloz-toolbar .balloz-toolbar-panel-content-handles {
    background-color: #000;
    height: 250px;
    overflow: auto;
    color: darkgrey;
}
.balloz-toolbar .balloz-toolbar-panel-handles .layout-handles {
    list-style: decimal;
    padding: 10px 20px 10px 20px;
}

/* === Debug panel === */
.balloz-toolbar .balloz-toolbar-panel-content-debug {
    width: 600px;
    height: 400px;
    overflow: auto;
}
.balloz-toolbar .balloz-toolbar-panel-debug .debug-entry {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* === Javascript panel === */
.balloz-toolbar .balloz-toolbar-panel-content-javascript,
.balloz-toolbar .balloz-toolbar-panel-content-javascript * {
    color: darkgrey;
}
.balloz-toolbar .balloz-toolbar-panel-content-javascript {
    background-color: #000;
    height: 250px;
    overflow: auto;
}
.balloz-toolbar .balloz-toolbar-panel-javascript .layout-handles {
    list-style: decimal;
    padding: 10px 20px 10px 20px;
}

/* === DOM Markers === */
.developer-toolbar-overlay{
    position:absolute;
    z-index:4000;
    background:#ff5400;
    opacity:0.5;
    transition:all 500ms ease-in-out;
    -webkit-transition:all 500ms ease-in-out;
}
